@font-face {
    font-family: 'Audrey';
    src:  url('./../font/Audrey-Bold.woff2') format('woff2'),
          url('./../font/Audrey-Bold.woff') format('woff');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    overflow-x: hidden;
}
main{
    position: relative;
    overflow-x: hidden;
    top:0;
    left:0;
}

/* Hero  */

.hero{
    position: relative;
    font-family: 'Audrey',sans-serif;
    background: #0D4B4B;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction:row;
}
.hero .first{
    flex:3;
    min-width: 500px;
}
.hero .second{
    flex:2;
    background: #FAD201;
    border-bottom-left-radius: 10px;
}
.hero .second .maveli{
    position: relative;
    height:70vh;
    margin:15vh 0 15vh -30%;
}
.hero .first h1{
    color:whitesmoke;
    font-size: 60px;
}
.hero .first .head{
    margin:35vh 0 0 100px;
}
.hero .first .head span{
    color:#FAD201;
    border-bottom:thin dotted white;
}
.hero .first .head p{
    font-family: sans-serif;
    margin-right:30%;
    margin-top:20px;
    line-height: 24px;
    font-size: 18px;
    color:rgb(228, 226, 226);
}
.hero .first nav{
    display: flex;
    flex-direction: row;
    height:10vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    align-items: center;
    padding:20px;
    justify-content: space-between;
    font-variant: small-caps;
}
.hero .first nav .onam{
    color:#0D4B4B;
}
.hero .first nav .happy{
    color:#FAD201;
}
@media only screen and (max-width: 750px) {
    .hero{
        flex-direction: column;
        height: auto;
    }
    .hero .first nav .onam{
        color:#FAD201;
    }
    .hero .first .head{
        margin:25vh 0 15vh 80px;
    }
    .hero .second .maveli{
        height:60vh;
        margin:10vh 0 0 5vh;
        left:50%;
        transform: translate(-55%);
    }
}
@media only screen and (max-width: 520px) {
    .hero .first .head{
        margin:25vh 0 15vh 50px;
    }
    .hero .first h1{
        font-size: 50px;
    }
    .hero .first .head p{
        margin-right:30%;
    }
    .hero .second .maveli{
        height:50vh;
    }
}
@media only screen and (max-width: 380px) {
    .hero .first .head p{
        margin-right:40%;
    }
    .hero .first .head{
        margin:25vh 0 15vh 30px;
    }
}

/* Hero  */

/* Section 1  */
.section1{
    background: #0D4B4B;
    display: flex;
    flex-direction: row;
    padding:20vh 0 10vh 0;
}
.section1 .first img{
    height:50vh;
    padding:50px;
    margin-left:10%;
}
.section .first{
    order:1;
}
.section1 .second{
    order:2;
    display: inline-block;
    color:rgb(228, 226, 226);
    padding:0 10% 0 10%;
    align-self: center;
    min-width: 600px;
}
.section1 .second h2{
    font-size: 42px;
    margin-bottom: 20px;
}
.section1 .second p{
    line-height: 24px;
    font-size: 18px;
}
@media only screen and (max-width: 980px){
    .section1 .first img{
        height:45vh;
        padding:30px;
        margin-left:5%;
    }
    .section1 .second h2{
        font-size: 38px;
    }
    .section1 .second p{
        line-height: 24px;
        font-size: 18px;
    }
    .section1 .second{
        padding:0 8% 0 5%;
        min-width: 400px;
    }
}
@media only screen and (max-width: 800px){
    .section1 .first img{
        height:40vh;
        padding:20px;
        margin-left:5%;
    }
}
@media only screen and (max-width: 750px) {
    .section1{
        flex-direction: column;
        padding:15vh 30px 10vh 30px;
    }
    .section1 .second{
        order:1;
        min-width: none;
        padding:0 40px 5vh 20px;
        align-self: unset;
    }
    .section1 .first{
        order:2;
    }
    .section1 .first img{
        height: 50vh;
        padding:auto;
        position: relative;
        left:50%;
        transform: translate(-50%);
    }
}
@media only screen and (max-width: 600px){
    .section1 .first img{
        height:40vh;
    }
}
@media only screen and (max-width: 420px){
    .section1 .second{
        padding:0 10px 5vh 10px;
        min-width: 200px;
    }
}